@media all and (max-width: 680px) {
    margin: auto;
    #main-header .row .info-promo{
        font-size: 0.5em;
    }
}

@media all and (max-width: 480px) {
    margin: auto;
    #main-header .row .info-promo{
        font-size: 0.5em;
    }
}

@media all and (max-width: 768px) {
    margin: auto;
    #main-header .row .info-promo{
        font-size: 0.5em;
    }
}
